@{
    ViewData["Title"] = "Fantasy Golden League";
}
<div id="app">
    Loading
</div>

@section Scripts{
    <script src="~/dist/main.js"></script>
    <script src="~/dist/vendors.js"></script>
    <script src="~/dist/runtime.js"></script>
}